<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TomatoMapper">
    
    <resultMap type="Tomato" id="TomatoResult">
        <result property="id"    column="id"    />
        <result property="taskId"    column="task_id"    />
        <result property="userId"    column="user_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="timeLong"    column="time_long"    />
    </resultMap>

    <sql id="selectTomatoVo">
        select id, task_id, user_id, create_by, create_time, update_by, update_time, remark, time_long from tomato
    </sql>

    <select id="selectTomatoList" parameterType="Tomato" resultMap="TomatoResult">
        <include refid="selectTomatoVo"/>
        <where>  
            <if test="taskId != null "> and task_id = #{taskId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="timeLong != null "> and time_long = #{timeLong}</if>
        </where>
    </select>
    
    <select id="selectTomatoById" parameterType="Long" resultMap="TomatoResult">
        <include refid="selectTomatoVo"/>
        where id = #{id}
    </select>

    <select id="selectTomatoStatisticsByUserId" parameterType="Long" resultType="java.util.HashMap">
        SELECT SUM(t.time_long)as totalTime,count(*) As totalTask ,
               (SELECT SUM(time_long) from tomato WHERE YEARWEEK( date_format(  create_time,'%Y-%m-%d' ) ) = YEARWEEK( now() ) ) AS weekTime,
               (SELECT count(*) from tomato WHERE YEARWEEK( date_format(  create_time,'%Y-%m-%d' ) ) = YEARWEEK( now() ) ) AS weekTask,
               (SELECT SUM(time_long) from tomato WHERE to_days(create_time) = to_days(now()) ) AS todayTime,
               (SELECT count(*) from tomato WHERE to_days(create_time) = to_days(now()) ) AS todayTask
        FROM `tomato` t
        where user_id = #{userId}
    </select>
        
    <insert id="insertTomato" parameterType="Tomato">
        insert into tomato
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="taskId != null">task_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="timeLong != null">time_long,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="timeLong != null">#{timeLong},</if>
         </trim>
    </insert>

    <update id="updateTomato" parameterType="Tomato">
        update tomato
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="timeLong != null">time_long = #{timeLong},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTomatoById" parameterType="Long">
        delete from tomato where id = #{id}
    </delete>

    <delete id="deleteTomatoByIds" parameterType="String">
        delete from tomato where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>